body {
  background-color: #000000;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

/* TODO - improve mobile appearance */

#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  z-index: 1000;
  transition:
    opacity 0.3s,
    visibility 0.3s;
}

#splash-screen p {
  color: #0bcc71;
  font-size: 64px;
}

#start-btn {
  background-color: #0bcc71;
  color: #000000;
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  font-size: 32px;
  cursor: pointer;
}

#start-btn:hover {
  background-color: #0f9e5b;
}

#above-schedule {
  height: 90vh;
}

#argon-logo {
  height: 12vh;
  margin: auto;
  display: block;
  margin-top: 15px;
  margin-bottom: 22px;
}

#video-footer {
  color: #a3a3a3;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 22px;
}

#current-video-title {
  color: #ffffff;
}

#schedule-indicator {
  color: #a3a3a3;
  text-align: center;
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 26px;
}

#down-arrow {
  height: 2vh;
  margin: auto;
  display: block;
  margin-bottom: 14px;
  opacity: 0.8;
}

#schedule-container {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin: 0 auto;
  margin-bottom: 75px;
}

.daily-schedule {
  width: 100%;
  max-width: 30%;
}

.daily-schedule > p {
  color: #ffffff;
  font-size: 28px;
  margin-bottom: 16px;
  text-align: center;
}

table {
  padding: 0;
  border-collapse: separate;
  border-spacing: 0 10px;
}

td {
  padding-left: 6px;
  vertical-align: text-top;
  margin: 0;
  color: #ffffff;
}

.large-video td {
  font-size: 20px;
  color: #0bcc71;
}

.trailer td {
  color: #ffffffbb;
}

.marathon-box {
  border: 1px solid #0bcc71;
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  width: fit-content;
  max-width: 100%;
  box-sizing: border-box;
}

.marathon-box p {
  margin: 0;
  font-size: 20px;
}

.marathon-box table {
  width: auto;
}

#video-container {
  height: 68vh;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  border: 2px solid #0bcc71;
}

#video-container #yt-player,
#video-container #yt-player iframe,
#video-container iframe {
  pointer-events: none;
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  height: calc(100% + 120px);
}
#video-foreground {
  pointer-events: none;
}

#advert-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#advert {
  width: 75%;
  height: 15%;
  background-color: #000000;
  cursor: pointer;
  pointer-events: auto;
  margin-bottom: 0%;
  display: flex;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.06);
  opacity: 0;
  transition:
    opacity 1s ease-in-out,
    margin-bottom 1s ease-in-out;
}

#advert > div {
  box-shadow: 6px 0 12px rgba(0, 0, 0, 0.4);
}

#advert > div:last-child {
  box-shadow: none;
}

#advert-body {
  flex: 20;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding-left: 12px;
  transition:
    flex 5s ease-in-out,
    padding-left 5s ease-in-out;
}

.advert-header {
  margin: 0;
  font-size: 22px;
  color: #ffffff;
}

.advert-text {
  margin: 0;
  font-size: 22px;
  color: #0bcc71;
}

.advert-time {
  font-size: 20px;
  color: #ffffffbb;
  margin-right: 8px;
}

#advert > div:nth-child(2) {
  background-color: #0bcc71;
  flex: 1;
  z-index: 3;
}

#advert > div:nth-child(3) {
  background-color: #3e523b;
  flex: 1;
  z-index: 2;
}

#advert > div:nth-child(4) {
  background-color: #2c2c2c;
  flex: 1;
  z-index: 1;
}
